# --- Django Core Settings ---
DEBUG=True
SECRET_KEY=django-insecure-some-secret-key-change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,buckezz.zaisers.myds.me
DATABASE_URL=sqlite:///data/db.sqlite3

# --- SMTP / E-Mail-Server Konfiguration ---
# Für echte E-Mails 'django.core.mail.backends.smtp.EmailBackend' eintragen.
# Für Debug-Zwecke (Ausgabe in der Konsole) 'django.core.mail.backends.console.EmailBackend' verwenden.
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.strato.de
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=webmaster@zaisers.de
EMAIL_HOST_PASSWORD=dein-passwort

# --- Alexa Integration Token ---
ALEXA_TOKEN=secret-alexa-token
